__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/



.DS_Store
Thumbs.db

runs/
logs/
temp_results/
ner_results/
wandb/
checkpoint-*/
*.bin
*.pt
*.pth
*.safetensors
*.ckpt
*.joblib
*.csv
*.tsv
*.zip
*.tar.gz

data/*
model/*

!data/.gitkeep
!model/.gitkeep